body
{
  overflow: hidden;
}


#infobox-cont
{
  height: 88vh;
  overflow: auto;
  border-radius: 30px;
  width: auto;
  position: absolute;
  top: 50px;
  left: 250px;
  margin-left: 150px;
}
.infobox
{
  text-align: left;
  padding-right: 50px;
  padding-top: 140px;
  background-color: black;
  width: 350px; /*450px*/
  height: 150px;
  float:left;
  margin: 50px;
  margin-left: 2%;
  color: white;
  font-size: 34px;
  cursor:all-scroll;
  opacity: 0.8;
  text-shadow: 0 0 3px #FF0000;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 black, 0 -1px green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popupComp
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  padding: 30px;
  background-color: white;
  height: 80vh;
  width: auto;
  position: fixed;
  left: 2%;
  z-index: 1000;
  font-size: 16px;
  background-color: #bdb2b2;
}

#wescopop
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  padding: 30px;
  background-color: white;
  height: 80vh;
  width: 70%;
  position: fixed;
  left: 15%;
  z-index: 1000;
  font-size: 16px;
  background-color: #bdb2b2;
}
.popupComp > button
{
  float: right;
  background-color: green;
  width: 40px;
  color: white;
  font-size: 24px;
  border-radius: 25px;
  opacity: 0.7;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0px;
}

.popupComp > button:hover
{
  opacity: 1;
}


.popup
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  padding: 30px;
  background-color: black;
  color: green;
  font-size: 40px;
  text-align: center;
  height: 80vh;
  width: 70%;
  position: absolute;
  top: 30px;
  left: calc(70% - 52%);
  z-index: 1000;
}

.popup > h1
{
    padding-top: 200px;
}

.popup > button
{
  float: right;
  background-color: green;
  width: 40px;
  color: white;
  font-size: 24px;
  border-radius: 25px;
  opacity: 0.7;
}

.popupComp > button
{
  float: right;
  background-color: green;
  width: 40px;
  color: white;
  font-size: 24px;
  border-radius: 25px;
  opacity: 0.7;
}

.popup > button:hover
{
  opacity: 1;
}


.spacer
{
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 24px;
  margin-top: 24px;
}

.infobox > span
{
  margin-top: -10px;
  margin-left:  30px;
  float:left;
  text-align: center;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 4px 0 gray;

}

/* #discord-rules > span
{
  background-color: #5b66b0;
}
#server-rules > span
{
  background-color: green;
} */

.infobox > img
{
  height: 112px;
  position: relative;
  float:left;
  top: -100px;
  left: 150px;
}

.infobox:hover
{
  opacity: 1;
  cursor:crosshair;
  box-shadow: 0 4px 8px 0 black;
  background-color: #589226;
}
